/* Css styling for certain elements that were either not available in bootsrap or had to be over ridden to work */



/* Giving the whole html a basic font for paragraphs and everything */
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, .p1 {
    font-family: "elevon", sans-serif;
font-weight: 200;
font-style: normal;
}

/* Making the buttons and links remove text decoration */
a {
    text-decoration: none;
}

/* Giving the body a background gradient for all pages */
body {
    background: linear-gradient(180deg, #070707 16.5%, #1E1E1E 52%, #070707 92%);
}

/* Nav hover had to be over ridden with important to make it work */

.navbar-nav .nav-item .nav-link:hover {
    color: #D12B2B !important;
}

.navbar-brand:hover {
    color: #D12B2B !important;
}

/* Making sure the header images dont scale badly */
.box-size {
    position: relative;
}

/* making sure the contents dont go out of the hero image */
.main-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Making the image header of 100% */
.img-header {
    width: 100%;
    margin: 0 auto;
}

iframe {
    width: 100%;
}

/* Same as the nav, bootstrap did not let hover colors on certain elements */
footer a:hover {
    color: #D12B2B !important;
}

/*  styling the skiplinks */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

/* Making sure skip links are not visible */
.skip-links a {
    position: absolute;
    top: -3em;
    left: 20em;
    background-color: white;
    color: black;
    padding: .5em 1em;
    font-weight: bold;
}

/* Making skip links visible when pressed tab */
.skip-links a:focus {
    top: 0;
}

.about-us {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
}